<!-- 
    Get username
 -->
 <div>
    <p>Please enter username.</p>
    <input #username
       (blur)="getUsername(username.value)">
       <br>
 </div>

 <!-- 
     List questions
  -->
 <div *ngFor="let question of questions; let index = index">
    <div *ngIf="question.type == 'text'">
        <app-question-text [index]="index" [question]="question" (event)='getAnswer($event)'></app-question-text>  
    </div>
    
    <div *ngIf="question.type == 'mult'">
        <app-question-multiple-choice [index]="index" [question]="question" (event)='getAnswer($event)'></app-question-multiple-choice>  
    </div>
</div>

<!-- 
    Save answers to DB
 -->
<div>
    <br>
    <button (click)="saveAnswers()"
        onClick="window.location.reload();">Submit Answers</button>
</div>
